Chatbot/chatbot.json
{
  "name": "chatbot",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful AI assistant.\nAnswer user questions clearly and politely use  Serp tool for this first to fetch real time data before answering any question"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        -32
      ],
      "id": "02f858ae-4154-4505-b980-a4a5b63ea35d",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "notesInFlow": true
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -304,
        -32
      ],
      "id": "a27ea907-f5c5-4743-b065-b958d4c5f970",
      "name": "When chat message received",
      "webhookId": "8dd97a85-0f2c-4d69-91c6-788767c46fe8"
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        256,
        -32
      ],
      "id": "ec7408b5-52b9-418e-b3c5-8a59b2eb05f5",
      "name": "Chat",
      "webhookId": "e0870495-c726-44fc-aeea-82c71b4fa75e"
    },
    {
      "parameters": {
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApiTool",
      "typeVersion": 1,
      "position": [
        112,
        160
      ],
      "id": "4089fa1c-1e5e-40ae-8929-f148fafd56ff",
      "name": "Serp",
      "credentials": {
        "serpApi": {
          "id": "d2Almjokq0KAwD1s",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -32,
        160
      ],
      "id": "e8b09599-f355-4641-9cc0-8d3c9f43228d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -224,
        176
      ],
      "id": "7ce97792-24f2-4b01-b78a-8098e4613862",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "R3nVkr4foA29KiEc",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serp": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5d43e5e9-885b-47c1-8178-f1bd8040149b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a4c174233c96b8ec2f5886062dacf0d087a2fffddb117bdd7dabafb4bd56d6ba"
  },
  "nodeGroups": [],
  "id": "tCzSASmDcnZWvBQf",
  "tags": []
}